@mixin gradient($from, $to) {
  background-color: $from; // fallback/image non-cover color
  background-image: -moz-linear-gradient($from, $to); // Firefox 3.6+
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to)); // Safari 4+, Chrome 1+
  background-image: -webkit-linear-gradient($from, $to); // Safari 5.1+, Chrome 10+
  background-image: -o-linear-gradient($from, $to); // Opera 11.10+
}

@mixin vendor-prefixes($name, $argument) {
  -webkit-#{$name}: $argument;
  -moz-#{$name}: $argument;
  -ms-#{$name}: $argument;
  #{$name}: $argument;
}

@mixin transform-transition($options) {
  -webkit-transition: -webkit-transform $options;
  -moz-transition: -moz-transform $options;
  -ms-transition: -ms-transform $options;
  transition: transform $options;
}
