//= require reset
//= require_self

@import 'variables';
@import 'mixins';

// Base ----------------------------------------------------------------------
* { @include vendor-prefixes(box-sizing, border-box); -webkit-font-smoothing: subpixel-antialiased; }
body { @include vendor-prefixes(user-select, none) }

body, button, input, legend, textarea {
  font-family: 'Open sans', 'sans-serif';
  font-size: $baseFontSize;
  line-height: 1.5;
  color: $mainTextColor;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-weight: 400;
  margin: 1em 0;
}

a { color: $blueColor }
a:focus, a:hover { color: lighten($blueColor, 10%) }

// Layout --------------------------------------------------------------------
.wrap {
  width: 78%;
  max-width: 540px;
  margin: auto;
}

.columns { font-size: 0 }
.column-1 { width: 100% }
.column-2 { width: 50% }
.column-3 { width: 33.3333% }
.column {
  display: inline-block;
  vertical-align: top;
  font-size: $baseFontSize;
}

// Fonts ---------------------------------------------------------------------
.font-helvetica { font-family: Helvetica, sans-serif }
.font-times { font-family: Times, serif }
.font-source-code { font-family: 'Source Code Pro', sans-serif }
.font-pt-serif { font-family: 'PT Serif', serif }
.font-open-sans { font-family: 'Open Sans', sans-serif }

// Themes --------------------------------------------------------------------
.theme-1 {
  background-color: #161616;
  [role="main"] { color: #cdcdcd }
  header:before { @include gradient(#161616, rgba(#161616, 0)) }
  footer:before, footer .advanced-menu { @include gradient(rgba(#161616, 0), #161616) }
}

.theme-2 {
  background-color: #3e4243;
  [role="main"] { color: #c3c4c5 }
  header:before { @include gradient(#3e4243, rgba(#3e4243, 0)) }
  footer:before, footer .advanced-menu { @include gradient(rgba(#3e4243, 0), #3e4243) }
}

.theme-3 {
  background-color: #c5cbce;
  [role="main"] { color: #4b5155 }
  header:before { @include gradient(#c5cbce, rgba(#c5cbce, 0)) }
  footer:before, footer .advanced-menu { @include gradient(rgba(#c5cbce, 0), #c5cbce) }
}

.theme-4 {
  background-color: #e6e6e6;
  [role="main"] { color: #414141 }
  header:before { @include gradient(#e6e6e6, rgba(#e6e6e6, 0)) }
  footer:before, footer .advanced-menu { @include gradient(rgba(#e6e6e6, 0), #e6e6e6) }
}

.theme-5 {
  background-color: #fff;
  [role="main"] { color: #202020 }
  header:before { @include gradient(#fff, rgba(#fff, 0)) }
  footer:before, footer .advanced-menu { @include gradient(rgba(#fff, 0), #fff) }
}

// Header --------------------------------------------------------------------
header {
  z-index: 1;
  position: fixed;
  top: 0; left: 2.5%; right: 2.5%;
  font-size: 14px;
  pointer-events: none;

  .advanced-menu {
    z-index: 1;
    position: relative;
    border: 6px solid #e1e1e1;
    border-top: 0;
    @include gradient(#fefefe, #fafafa);
    @include vendor-prefixes(transform, translateY(-100%));
  }

  h1 {
    margin: 0;
    padding: 1em 0;
    color: #b3b3b3;
    font-size: 1.4em;
    border-bottom: 1px solid #c4c4c4;
    &:hover { @include vendor-prefixes(user-select, text) }

    .wrap {
      line-height: 1.3;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .author { font-weight: 700 }
    .title:before { content: '-'; padding: 0 .5em 0 .4em }
  }

  a { color: #838383 }
  a:hover, a:focus { color: inherit }

  ul {
    position: absolute;
    top: 0;
    height: 100%;

    &.left  { left: 0; border-right: 1px solid #c4c4c4 }
    &.right { right: 0; border-left: 1px solid #c4c4c4 }
  }

  .library {
    text-transform: uppercase;
    font-weight: 700;
    border-left: 1px solid #f6f6f6;
  }

  .button-advanced-menus {
    position: absolute;
    top: 6px; right: 8px;
    display: block;
    width: 60px; height: 60px;
    background-color: #f9f9f9;
    border-radius: 100%;
    text-align: center;
    pointer-events: all;

    &:hover, &:focus { background-color: darken(#f9f9f9, 5%) }

    img {
      width: 60%;
      position: relative;
      top: -2px;
    }

    &:before { content: ''; height: 100%; }
    &:before, img {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

header li + li { border-left: 1px solid #c4c4c4 }
header li.last { border-left: 0 }
header li {
  float: left;
  list-style-type: none;
  height: 100%;

  & > a {
    display: block;
    height: 100%;
    border-bottom: 1px solid #c4c4c4;
  }

  & > a, .blue-button { padding: 0 1.4em }

  & > a:hover, a:focus { background-color: rgba(#fff, .8) }
  & > a:before { content: ''; height: 100% }
  & > a:before, & > a > span { display: inline-block; vertical-align: middle }

  img { display: block }
}

// Advanced Menus ------------------------------------------------------------
.advanced-menu, .button-advanced-menus {
  @include transform-transition(.2s)
}

.show-advanced-menus {
  header, footer { pointer-events: all }
  header:before, footer:before { height: 200px }
  a.paragraph-count { opacity: 1 }
  .advanced-menu { @include vendor-prefixes(transform, translateY(0)) }
  .button-advanced-menus { @include vendor-prefixes(transform, translateY(-25%) scale(0)) }
}

// Submenu -------------------------------------------------------------------
.show-submenu {
  background-color: #fafafa;
  & > a { border-bottom: 1px solid #fafafa }
  & > a:hover, & > a:focus { background-color: #fafafa }
  .submenu { display: block }
}

.submenu-container {
  position: relative;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%; right: 0;
  width: 424px;
  background-color: #fafafa;
  box-shadow: 0 2px 3px -1px rgba(#000, .34);

  .column { font-size: 14px }
  .column-3 { padding: 0 .4em }
  .column-3:first-child { padding: 0 .8em 0 0 }
  .column-3:last-child { padding: 0 0 0 .8em }

  section { padding: 1.5em 1.8em 1em }
  section + section { border-top: 1px solid #eee }
  section:last-child { padding-bottom: 2em }

  .simple-button {
    height: 52px;
    padding: 0;

    &:before { content: ''; height: 100% }
    &:before, span, img { display: inline-block; vertical-align: middle }
  }

  .fonts {
    font-size: 22px;
  }
}

.submenu-title {
  display: block;
  font-weight: 700;
  padding: .4em 0;
}

// UI ------------------------------------------------------------------------
.button {
  padding: .4em .6em;
  text-align: center;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  @include gradient(#fff, #f3f3f3);
}

.blue-button {
  cursor: pointer;
  padding: .4em 0;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 -1px 0 rgba(#000, .2);
  background-color: $blueColor;
  border: 0 solid #01b3df;
  border-bottom-width: 1px;
  @include gradient(#4ddafd, #02c9fb);

  &:hover, &:focus { @include gradient(lighten(#4ddafd, 5%), lighten(#02c9fb, 5%)) }
}

.simple-button {
  display: block;
  padding: 1em 0;
  text-align: center;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  background-color: #fafafa;

  &:hover, &:focus { background-color: #fff }

  &.selected {
    color: #fff;
    border-color: #4bbad6;
    border-bottom-color: #0298bd;
    @include gradient(#59dcfd, #02c9fb);
  }

  img {
    display: block;
    margin: auto;
  }
}

.buttons-group {
  .simple-button { border-radius: 0; border-bottom: 0 }
  .simple-button:first-child { border-radius: 3px 3px 0 0 }
  .simple-button:last-child { border-radius: 0 0 3px 3px; border-bottom: 1px solid #d8d8d8 }

  .simple-button.selected + .simple-button { border-top-color: #0298bd }
  .simple-button.selected:last-child { border-bottom-color: #0298bd !important }
}

.popup {
  padding: 1.7em 1.1em;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(#000, .34);

  span {
    display: block;
    margin: .3em 0;
    color: #717171;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.popup-with-tip {
  position: relative;

  &:before {
    z-index: -1;
    content: '';
    display: block;
    width: 100%; height: 150%;
    position: absolute;
    top: 0; left: 0;
  }

  &:after {
    content: '';
    display: block;
    width: 0; height: 0;
    position: absolute;
    top: 100%; left: 50%;
    margin: -1px 0 0 -24px;
    border: solid transparent;
    border-width: 13px 25px 0 25px;
    border-top-color: #fff;
    -webkit-filter: drop-shadow(0 2px 3px rgba(#000, .24));
  }
}

.icon-minus,
.icon-plus,
.icon-plus:after {
  display: inline-block;
  background-color: #838383;
}

.icon-minus,
.icon-plus {
  width: 15px; height: 3px;
  font-size: 0;
}

.icon-plus {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 3px; height: 15px;
    margin: -6px 0 0 6px;
  }
}

.ui-slider {
  display: block;
  position: absolute;
  left: 10%; right: 16%;
  margin: -13px 0 0 -15px;
}

.ui-slider-handle {
  position: absolute;
  display: inline-block;
  width: 34px; height: 34px;
  border-radius: 100%;
  box-shadow: 0 1px 2px rgba(#000, .46), 0 0 0 4px rgba(#000, .09);
  background-color: #f4f4f4;
  @include gradient(#fff, #ebebeb);

  &:hover { background: #fff }
}

.slider-container {
  padding: 0 3.6em 0 2.5em;
  & > div { position: relative }
}

.contrast-icon,
.slider-container {
  display: inline-block;
  vertical-align: middle;
}

.icon-moon { margin-right: -24px }
.icon-sun { margin-left: -40px }

.contrast-colors span {
  display: inline-block;
  float: left;
  width: 20%; height: 8px;
  box-shadow: inset 0 2px 2px -2px rgba(#000, .2);

  &:first-child { border-radius: 4px 0 0 4px }
  &:last-child { border-radius: 0 4px 4px 0 }
}

// Main ----------------------------------------------------------------------
[role="main"] {
  margin: 7em 0;
  font-size: 21px;
  line-height: 1.8;
  counter-reset: paragraph;
  @include vendor-prefixes(user-select, text);

  h1, h2 { margin: .4em 0 }
  h1 { font-size: 2.3em }
  h2 { font-size: 1.5em }
  h3 { margin: 3em 0 0 }

  .wrap { max-width: 25.7em }

  .chapter:before {
    content: '';
    display: table;
  }

  p {
    position: relative;
    margin: 0;
    padding: 2em 0 0;
  }
}

a.paragraph-count {
  position: absolute;
  right: 105%;
  display: inline-block;
  font-size: .6em;
  line-height: 2.7;
  opacity: 0;
  @include vendor-prefixes(user-select, none);
  @include vendor-prefixes(transition, opacity .2s);

  &:before { content: "ยง" }
}

// Footer --------------------------------------------------------------------
footer {
  position: fixed;
  bottom: 0; left: 0;
  width: 100%;
  pointer-events: none;

  .advanced-menu {
    height: 41px;
    padding-bottom: 8px;
    @include gradient(rgba(#fff, 0), #fff);
    @include vendor-prefixes(transform, translateY(100%));
  }
}

.timeline {
  display: inline-block;
  width: 100%;
  padding-right: 180px;

  .line {
    display: block;
    height: 1px;
    background-color: #d8d8d8;
  }
}

.anchors {
  position: absolute;
  top: 0; right: 0;
  font-size: 14px;

  .column-2:first-child { padding-right: .6em }
  .column-2:last-child { padding-left: .6em }

  .popup {
    opacity: 0;
    width: 214px;
    position: absolute;
    bottom: 100%; left: 50%;
    margin: 0 0 8px -107px;
    pointer-events: none;
  }

  select {
    width: 100%;
    display: block;
  }

  button {
    margin-top: .8em;
    display: block;
    width: 100%;
  }
}

.anchors:hover {
  .popup {
    opacity: 1;
    pointer-events: all;
  }
}

// Header & Footer fadeout ----------------------------------------------------
header:before,
footer:before, {
  z-index: 0;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 100%; height: 100px;
  background-color: transparent !important;
  pointer-events: none;
}

header:before { top: 0; }
footer:before { bottom: 0; }

// --------------------------------------------------------------------------- 1067px
@media (max-width: 1067px) {
  header .wrap {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0 235px 0 230px;
  }
}
