//= require reset
//= require ./font_face
//= require_self

@import 'variables';
@import 'mixins';

// Base ----------------------------------------------------------------------
* {
  @include vendor-prefixes(box-sizing, border-box);
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body { @include vendor-prefixes(user-select, none) }

html { font-size: $baseFontSize; }

body, button, input, legend, textarea {
  font-family: 'Open sans', 'sans-serif';
  font-size: 1em;
  line-height: 1.5;
  color: $mainTextColor;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-weight: 400;
  margin: 1em 0;
}

a { color: $blueColor }
.no-touch a:focus,
.no-touch a:hover,
.touch a:active {
  color: lighten($blueColor, 10%);
}

optgroup {
  color: #808080;
  font-style: normal;
  font-weight: normal;
  text-indent: 0.75em;
  padding-top: 0.35em;

  option:first-child { margin-top: 0.35em; }
  &:last-child { padding-bottom: 0.35em; }
}

option {
  color: $mainTextColor;
  text-indent: 0;
}

// Layout --------------------------------------------------------------------
.wrap {
  width: 78%;
  max-width: 540px;
  margin: auto;
}

.columns { font-size: 0 }
.column-1 { width: 100% }
.column-2 { width: 50% }
.column-3 { width: 33.3333% }
.column {
  display: inline-block;
  vertical-align: top;
  font-size: $baseFontSize;
}

.veil {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0; left: 0;
  bottom: 0; right: 0;

  .show-advanced-menus & { display: block; }
  .show-summary & { display: none; }
}

// Fonts ---------------------------------------------------------------------
.font-helvetica { font-family: Helvetica, sans-serif }
.font-times { font-family: Times, serif }
.font-source-code { font-family: 'Source Code Pro', sans-serif }
.font-pt-serif { font-family: 'PT Serif', serif }
.font-open-sans { font-family: 'Open Sans', sans-serif }

// Themes --------------------------------------------------------------------
.theme-1 {
  background-color: #161616;
  [role="main"] { color: #cdcdcd }
  header:before { @include gradient(#161616, rgba(#161616, 0)) }
  footer:before, footer .advanced-menu { @include gradient(rgba(#161616, 0), #161616) }
}

.theme-2 {
  background-color: #3e4243;
  [role="main"] { color: #c3c4c5 }
  header:before { @include gradient(#3e4243, rgba(#3e4243, 0)) }
  footer:before, footer .advanced-menu { @include gradient(rgba(#3e4243, 0), #3e4243) }
}

.theme-3 {
  background-color: #c5cbce;
  [role="main"] { color: #4b5155 }
  header:before { @include gradient(#c5cbce, rgba(#c5cbce, 0)) }
  footer:before, footer .advanced-menu { @include gradient(rgba(#c5cbce, 0), #c5cbce) }
}

.theme-4 {
  background-color: #e6e6e6;
  [role="main"] { color: #414141 }
  header:before { @include gradient(#e6e6e6, rgba(#e6e6e6, 0)) }
  footer:before, footer .advanced-menu { @include gradient(rgba(#e6e6e6, 0), #e6e6e6) }
}

.theme-5 {
  background-color: #fff;
  [role="main"] { color: #202020 }
  header:before { @include gradient(#fff, rgba(#fff, 0)) }
  footer:before, footer .advanced-menu { @include gradient(rgba(#fff, 0), #fff) }
}

// Header --------------------------------------------------------------------
header {
  z-index: 10;
  position: fixed;
  top: 0; left: 2.5%; right: 2.5%;
  font-size: 14px;
  pointer-events: none;

  .advanced-menu {
    z-index: 1;
    position: relative;
    border: 6px solid #e1e1e1;
    border-top: 0;
    @include gradient(#fefefe, #fafafa);
    @include vendor-prefixes(transform, translateY(-100%));
  }

  h1 {
    margin: 0;
    padding: 0.75em 0;
    color: #b3b3b3;
    font-size: 1.4em;
    border-bottom: 1px solid #c4c4c4;
    &:hover { @include vendor-prefixes(user-select, text) }

    .wrap {
      line-height: 1.3;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: none;
      width: 100%;
      text-align: center;
      padding: 0 147px 0 213px;
      .touch & { text-align: left }
    }

    .author { font-weight: 700 }
    .title:before { content: '-'; padding: 0 .5em 0 .4em }
  }

  a { color: #838383 }

  ul {
    position: absolute;
    top: 0;
    height: 100%;

    &.left  { left: 0; border-right: 1px solid #c4c4c4 }
    &.right { right: 0; border-left: 1px solid #c4c4c4 }
  }

  .library {
    text-transform: uppercase;
    font-weight: 700;
    border-left: 1px solid #f6f6f6;
  }

  .button-advanced-menus {
    position: absolute;
    top: 5px; right: 8px;
    display: block;
    width: 54px; height: 54px;
    background-color: #f9f9f9;
    border-radius: 100%;
    text-align: center;
    pointer-events: all;

    span {
      position: relative;
      top: -2px;
    }

    &:before { content: ''; height: 100%; }
    &:before, span {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.no-touch header .button-advanced-menus:hover,
.no-touch header .button-advanced-menus:focus,
.touch header .button-advanced-menus:active {
  color: inherit;
  background-color: darken(#f9f9f9, 5%);
}

header li + li { border-left: 1px solid #c4c4c4 }
header li.last { border-left: 0 }
header li {
  float: left;
  list-style-type: none;
  height: 100%;

  & > a {
    display: block;
    height: 100%;
    border-bottom: 1px solid #c4c4c4;
  }

  & > a, .blue-button { padding: 0 1.3em }

  & > a:before { content: ''; height: 100% }
  & > a:before, & > a > span { display: inline-block; vertical-align: middle }

  img { display: block }
}

.no-touch header li > a:hover,
.no-touch header li > a:focus,
.touch header li > a:active {
  color: #838383;
  background-color: rgba(#fff, .8);
}

// Advanced Menus ------------------------------------------------------------

.close-advanced-menus > span,
.font-sizes-wrap {
  text-indent: -0.2em;
}

.advanced-menu, .button-advanced-menus {
  @include transform-transition(.2s)
}

.show-advanced-menus {
  header, footer { pointer-events: all }
  header:before { height: 5em; }
  footer:before { height: 4em; }
  .paragraph:before { opacity: 1 }
  .advanced-menu { @include vendor-prefixes(transform, translateY(0)) }
  .button-advanced-menus { @include vendor-prefixes(transform, translateY(-25%) scale(0)) }
}

// Submenu -------------------------------------------------------------------
.show-readability-settings {
  .readability-settings { display: block }
  .readability-settings-container {
    background-color: #fafafa;
    & > a { border-bottom: 1px solid #fafafa }
    & > a:hover, & > a:focus { background-color: #fafafa }
  }
}

.submenu {
  z-index: 20;
  display: none;
  position: fixed;
  top: 55px; right: 2.5%;
  margin-right: 66px;
  width: 100%;
  max-width: 424px;
  color: #545454;
  font-size: 14px;
  background-color: #fafafa;
  box-shadow: 0 2px 3px -1px rgba(#000, .34);

  a { color: inherit }

  .column { font-size: 14px }
  .column-3 { padding: 0 .4em }
  .column-3:first-child { padding: 0 .8em 0 0 }
  .column-3:last-child { padding: 0 0 0 .8em }

  section { padding: 1.5em 1.8em 1em }
  section + section, .column + .column section { border-top: 1px solid #eee }
  section:last-child { padding-bottom: 2em }

  .simple-button {
    height: 52px;
    padding: 0;

    &:before { content: ''; height: 100% }
    &:before, span, img { display: inline-block; vertical-align: middle }
  }

  .fonts {
    font-size: 22px;
  }
}

.submenu-title {
  display: block;
  font-weight: 700;
  padding: .4em 0;
}

// UI ------------------------------------------------------------------------
.button {
  cursor: pointer;
  padding: .4em .6em;
  text-align: center;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  @include gradient(#fff, #f3f3f3);
}

.blue-button {
  cursor: pointer;
  padding: .4em 0;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 -1px 0 rgba(#000, .2);
  background-color: $blueColor;
  border: 0 solid #01b3df;
  border-bottom-width: 1px;
  @include gradient(#4ddafd, #02c9fb);
}

.no-touch .blue-button:hover,
.no-touch .blue-button:focus,
.touch .blue-button:active {
  color: #fff;
  @include gradient(lighten(#4ddafd, 5%), lighten(#02c9fb, 5%));
}

.simple-button {
  display: block;
  padding: 1em 0;
  text-align: center;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  background-color: #fafafa;

  &.selected {
    color: #fff;
    border-color: #4bbad6;
    border-bottom-color: #0298bd;
    @include gradient(#59dcfd, #02c9fb);
  }

  img {
    display: block;
    margin: auto;
  }
}

.no-touch .simple-button:hover,
.no-touch .simple-button:focus,
.touch .simple-button:active {
  color: inherit;
  background-color: #fff;
}

.no-touch .simple-button.selected:hover,
.no-touch .simple-button.selected:focus,
.touch .simple-button.selected:active {
  color: #fff;
}

.buttons-group {
  position: relative;

  .simple-button { border-radius: 0; border-bottom: 0 }
  .simple-button:first-child { border-radius: 3px 3px 0 0 }
  .simple-button:last-child { border-radius: 0 0 3px 3px; border-bottom: 1px solid #d8d8d8 }

  .simple-button.selected + .simple-button { border-top-color: #0298bd }
  .simple-button.selected:last-child { border-bottom-color: #0298bd !important }

  select {
    display: none;
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    width: 100%;
    opacity: 0;
    font-size: 16px;
    -webkit-appearance: none;
  }
}

.popup {
  padding: 1.7em 1.1em;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(#000, .34);

  span {
    display: block;
    margin: .3em 0;
    color: #717171;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.popup-with-tip {
  padding-top: 1.4em;
  position: relative;

  &:before {
    z-index: -1;
    content: '';
    display: block;
    width: 100%; height: 150%;
    position: absolute;
    top: 0; left: 0;
  }

  &:after {
    content: '';
    display: block;
    width: 0; height: 0;
    position: absolute;
    top: 100%; left: 50%;
    margin: -1px 0 0 -24px;
    border: solid transparent;
    border-width: 13px 25px 0 25px;
    border-top-color: #fff;
    -webkit-filter: drop-shadow(0 2px 3px rgba(#000, .24));
  }
}

.ui-slider {
  display: block;
  position: absolute;
  left: 10%; right: 16%;
  margin: -13px 0 0 -15px;
}

.ui-slider-handle {
  position: absolute;
  display: inline-block;
  width: 34px; height: 34px;
  border-radius: 100%;
  box-shadow: 0 1px 2px rgba(#000, .46), 0 0 0 4px rgba(#000, .09);
  background-color: #f4f4f4;
  @include gradient(#fff, #ebebeb);
}

.no-touch .ui-slider-handle:hover,
.no-touch .ui-slider-handle:focus,
.touch .ui-slider-handle:active {
  background: #fff;
}

.slider-container {
  padding: 0 3.6em 0 2.5em;
  width: 100%;
  & > div { position: relative }
}

.contrast-icon,
.slider-container {
  display: inline-block;
  vertical-align: middle;
}

.icon-fonts { font-size: 0; text-indent: 0; }
.icon-fonts > span { display: inline-block }
.icon-fonts > .icon-big-font {
  position: relative;
  top: -1px; left: 1px;
}

.icon-big-font:before { font-size: 24px }
.icon-close:before { font-size: 22px }
.icon-glasses:before { font-size: 18px }
.icon-books:before { font-size: 28px }

.icon-moon,
.icon-sun { color: #d8d8d8 }

.icon-moon {
  margin-right: -24px;
  &:before { font-size: 30px }
}

.icon-sun {
  margin-left: -40px;
  &:before { font-size: 40px }
}

.contrast-colors span {
  display: inline-block;
  float: left;
  width: 20%; height: 8px;
  box-shadow: inset 0 2px 2px -2px rgba(#000, .2);

  &:first-child { border-radius: 4px 0 0 4px }
  &:last-child { border-radius: 0 4px 4px 0 }
}

// Main ----------------------------------------------------------------------
[role="main"] {
  margin: 7em 0;
  font-size: 1.25em;
  line-height: 1.55;
  text-align: left;
  counter-reset: paragraph;
  @include vendor-prefixes(user-select, text);

  h1, h2 { margin: .4em 0 }
  h1 { font-size: 2.3em }
  h2 { font-size: 1.5em }
  h3 { margin: 3em 0 0 }

  .wrap {
    max-width: 31em;
    max-width: 60ch;
  }

  .section:before {
    content: '';
    display: table;
  }

  p, blockquote {
    position: relative;
    margin: 0;
    padding: 2em 0 0;
  }
}

.paragraph {
  counter-increment: paragraph;

  &:before {
    color: $blueColor;
    content: "§" counter(paragraph);
    position: absolute;
    right: 105%;
    display: inline-block;
    font-size: .7em;
    line-height: 2.7;
    opacity: 0;
    @include vendor-prefixes(user-select, none);
    @include vendor-prefixes(transition, opacity .2s);
  }

  &.exclude {
    counter-increment: paragraph 0;
    &:before { display: none; }
  }
}

.align-justify {
  text-align: justify;
  @include vendor-prefixes(hyphens, auto);
}

// Footer --------------------------------------------------------------------
footer {
  z-index: 1;
  position: fixed;
  bottom: 0; left: 0;
  width: 100%;
  pointer-events: none;

  .advanced-menu {
    height: 41px;
    padding-bottom: 8px;
    @include gradient(rgba(#fff, 0), #fff);
    @include vendor-prefixes(transform, translateY(100%));
  }
}

.timeline {
  display: inline-block;
  display: none; //no timeline for now. @todo get back to that later
  width: 100%;
  padding-right: 180px;

  .line {
    display: block;
    height: 1px;
    background-color: #d8d8d8;
  }
}

.anchors {
  position: absolute;
  top: 0; right: 0;
  font-size: 14px;

  .column-2:first-child { padding-right: .6em }
  .column-2:last-child { padding-left: .6em }

  .popup {
    opacity: 0;
    width: 214px;
    position: absolute;
    bottom: 100%; left: 50%;
    margin: 0 0 8px -107px;
    pointer-events: none;
  }

  select {
    width: 100%;
    display: block;
  }
}

.anchors.opened {
  .popup {
    z-index: 2;
    opacity: 1;
    .column { pointer-events: all; }
  }
}

// Summary

.show-summary {
  [role="main"] {
    p, blockquote, ul, ol { display: none; }

    .section:first-of-type { margin-top: 2em; }

    h3 {
      cursor: pointer;
      font-size: 18px;
      margin: 0;
      padding: 0.45em 0;

      &:hover { color: #01b3df; }
    }
  }

  .touch &, .no-touch &, {
    .book { background-color: #f2f2f2; }
  }
}

// Header & Footer fadeout ----------------------------------------------------
header:before,
footer:before, {
  z-index: 0;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  width: 100%; height: 50px;
  background-color: transparent !important;
  pointer-events: none;
}

header:before { top: 0; }
footer:before { bottom: 0; }

// Smaller header font-size -------------------------------------------------- 1065px
@media (max-width: 1065px) {
  header {
    font-size: 12px;
    h1 .wrap { padding-left: 200px }
  }

  .submenu {
    top: 47px;
    margin-right: 60px;
  }
}

// Two columns submenu ------------------------------------------------------- 760px
@media (max-height: 914px) and (min-width: 601px) {
  .submenu { max-width: 848px }
  .submenu .column-1 { width: 50% }

  .submenu section + section,
  .submenu .column + .column section { border-top: 0 }
}

@media (max-height: 914px) and (max-width: 968px) {
  header {
    left: 0; right: 0;
    .advanced-menu { border-width: 0 }
  }

  .submenu {
    width: 100%;
    margin-right: 0;
    right: 0;
  }
}

// Book title under header --------------------------------------------------- 600px
@media (max-width: 600px) {
  header {
    left: 0; right: 0;

    .advanced-menu { border-width: 0 }
    .wrap:before { content: ' ' }
  }

  .book-title {
    opacity: 0;
    position: absolute;
    top: 100%; left: 0;
    width: 100%;
    padding: .4em .6em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #f5f5f5;
    @include vendor-prefixes(transition, opacity .2s)
  }

  .show-advanced-menus {
    .book-title { opacity: 1 }
  }

  .submenu {
    right: 0;
    margin-right: 0;

    .column { font-size: 10px }
    section { padding-top: 1em }
    .submenu-title { padding-top: 0 }
    .simple-button { height: 40px }

    .icon-big-font:before { font-size: 20px }
    .icon-small-font:before { font-size: 12px }
  }

  .ui-slider-handle {
    width: 24px; height: 24px;
    top: 5px;
  }

  .icon-moon {
    margin-right: -16px;
    &:before { font-size: 20px }
  }

  .icon-sun {
    margin-left: -28px;
    &:before { font-size: 28px }
  }

  .submenu .buttons-group {
    select { display: block }

    .simple-button {
      display: none;

      &.selected {
        display: block;
        border-radius: 3px;
      }
    }
  }
}
