<h1 class="author">Antoine Gérin-Lajoie</h1>
<h2 class="title">Jean Rivard. Scènes de la vie réelle</h2>

<section class="section lim">
  <h3>PRÉFACE</h3>
  <p>
    La première édition de <em>Jean Rivard, le Défricheur</em>, a été publiée dans <em>Les Soirées Canadiennes</em>, en 1862. Le but de l’auteur était de faire connaître la vie et les travaux des défricheurs, et d’encourager notre jeunesse canadienne à se porter vers la carrière agricole, au lieu d’encombrer les professions d’avocat, de notaire, de médecin et les comptoirs des marchands, comme elle fait de plus en plus, au grand détriment de l’intérêt public et national. Afin d’en rendre la lecture moins aride, l’auteur crut devoir mêler à son récit certains détails de la vie intime et divers incidents qui ont eu l’effet de faire considérer ce récit comme une fiction. L’intention de l’auteur toutefois n’a jamais été de faire un roman, et il peut assurer que dans les faits et incidents qu’il raconte, il s’est appliqué avec un soin scrupuleux, au risque même d’ennuyer les lecteurs frivoles, à ne rien dire qui ne fût strictement conforme à la réalité.
  </p>
  <p>
    Cette nouvelle édition diffère peu de la première. On a cependant supprimé quelques pages et fait quelques légers changements, en vue de rendre l’ouvrage plus acceptable à la classe de lecteurs auxquels il s’adresse plus spécialement.
  </p>
</section>

<section class="section lim">
  <h3>AVANT-PROPOS</h3>
  <p>
    Jeunes et belles citadines qui ne rêvez que modes, bals et conquêtes amoureuses ; jeunes élégants qui parcourez, joyeux et sans soucis, le cercle des plaisirs mondains, il va sans dire que cette histoire n’est pas pour vous.
  </p>
  <p>
    Le titre même, j’en suis sûr, vous fera bâiller d’ennui.</p>
  <p>
    En effet, « Jean Rivard »...... quel nom commun ! que pouvait-on imaginer de plus vulgaire ? Passe encore pour Rivard, si au lieu de Jean c’était Arthur, ou Alfred, ou Oscar, ou quelque petit nom tiré de la mythologie ou d’une langue étrangère.
  </p>
  <p>
    Puis un défricheur...... est-ce bien chez lui qu’on trouvera le type de la grâce et de la galanterie ?
  </p>
  <p>
    Mais, que voulez-vous ? Ce n’est pas un roman que j’écris, et si quelqu’un est à la recherche d’aventures merveilleuses, duels, meurtres, suicides, ou d’intrigues d’amour tant soit peu compliquées, je lui conseille amicalement de s’adresser ailleurs. On ne trouvera dans ce récit que l’histoire simple et vraie d’un jeune homme sans fortune, né dans une condition modeste, qui sut s’élever par son mérite, à l’indépendance de fortune et aux premiers honneurs de son pays.
  </p>
  <p>
    Hâtons-nous toutefois de dire, mesdames, de peur de vous laisser dans l’erreur, que Jean Rivard était, en dépit de son nom de baptême, d’une nature éminemment poétique, et d’une tournure à plaire aux plus dédaigneuses de votre sexe.
  </p>
  <p>
    À l’époque où se passent les faits qu’on va lire, il approchait de la vingtaine. C’était un beau jeune homme brun, de taille moyenne. Sa figure mâle et ferme, son épaisse chevelure, ses larges et fortes épaules, mais surtout des yeux noirs, étincelants, dans lesquels se lisait une indomptable force de volonté, tout cela, joint à une âme ardente, à un cœur chaud et à beaucoup d’intelligence, faisait de Jean Rivard un caractère remarquable et véritablement attachant. Trois mois passés au sein d’une grande cité, entre les mains d’un tailleur à la mode, d’un coiffeur, d’un bottier, d’un maître de danse, et un peu de fréquentation de ce qu’on est convenu d’appeler le grand monde, en eussent fait un élégant, un fashionable, un dandy, un cavalier dont les plus belles jeunes filles eussent raffolé.
  </p>
  <p>
    Mais ces triomphes si recherchés dans certaines classes de la société n’avaient aucun attrait pour notre héros, et Jean Rivard préféra, comme on le verra bientôt, à la vie du lion de ville celle du lion de la forêt.
  </p>
</section>

<section class="section chapter">
  <h3>I.</h3>
  <p>
    Jean Rivard vint au monde vers l’an 1824, à Grandpré, une de ces belles paroisses canadiennes établies dans la vallée du Lac St. Pierre, sur la rive nord du St. Laurent.
  </p>
  <p>
    Son père, Jean-Baptiste Rivard, ou simplement Baptiste Rivard, comme on l’appelait dans sa paroisse, aurait passé pour un cultivateur à l’aise s’il n’eût été chargé d’une famille de douze enfants, dont deux filles et dix garçons.
  </p>
  <p>
    Jean était l’aîné de ces dix garçons.</p>
  <p>
    Comme il montra dès son bas âge, une intelligence plus qu’ordinaire, son père se décida, après de longues consultations avec ses plus proches parents et le curé de Grandpré, à le mettre au collége pour l’y faire suivre un cours d’études classiques.
  </p>
  <p>
    La mère Rivard nourrissait l’espoir secret que Jean prendrait un jour la soutane et deviendrait prêtre. Son plus grand bonheur à la pauvre mère eût été de voir son fils aîné chanter la messe et faire le prône à l’église de Grandpré.
  </p>
  <p>
    Jean Rivard obtint d’assez bons succès dans ses classes. Ce n’était pas un élève des plus brillants, mais il était studieux, d’une conduite régulière, et, parmi ses nombreux condisciples, nul ne le surpassait dans les choses qui requièrent la constance et l’exercice du jugement.
  </p>
  <p>
    Les années de collége s’écoulèrent rapidement. Dès le commencement de sa cinquième année, il était entré en Rhétorique, et il goûtait par anticipation les jouissances intellectuelles des années suivantes, car les études philosophiques et scientifiques convenaient à la tournure sérieuse de son esprit ; il se laissait même entraîner à faire des plans pour l’avenir, à bâtir des châteaux en Espagne comme on en bâtit à cet âge, lorsqu’un évènement survint, qui renversa tous ses projets : le père Baptiste Rivard mourut.
  </p>
  <p>
    Ce décès inattendu produisit une révolution dans la famille Rivard. Quand le notaire eut fait l’inventaire des biens de la succession et que la veuve Rivard eut pris sa part de la communauté, il fut constaté que le patrimoine de chacun des enfants ne s’élevait qu’à une somme de quelques cents piastres.
  </p>
  <p>
    Jean, qui avait fait une partie de ses études, était censé avoir reçu quelque chose « en avancement d’hoirie, » et ne pouvait équitablement prétendre aux mêmes avantages pécuniaires que chacun de ses frères et sœurs. Sa part d’héritage à lui ne s’éleva donc en tout et partout qu’à la somme de cinquante louis.
  </p>
  <p>
    Il lui fallait, avec cette somme, et vivre et s’établir.
  </p>
</section>

<section class="chapter section">
  <h3>II. CHOIX D’UN ÉTAT</h3>
  <p>
    S’il est dans la vie d’un jeune homme une situation pénible, inquiétante, c’est bien celle où se trouvait alors le pauvre Jean Rivard.
  </p>
  <p>
    Il avait dix-neuf ans ; la pensée de son avenir devait l’occuper sérieusement. Ne pouvant s’attendre à recevoir de personne autre chose que des conseils, il lui fallait, pour faire son chemin dans la vie, se reposer uniquement sur ses propres efforts. Or, disons-le à regret, l’instruction qu’il avait acquise, bien qu’elle eût développé ses facultés intellectuelles, ne lui assurait aucun moyen de subsistance. Il pouvait, à la rigueur, en sacrifiant son petit patrimoine, terminer son cours d’études classique,—et c’est ce que désiraient sa mère et ses autres parents,—mais il se disait avec raison que si sa vocation au sacerdoce n’était pas bien prononcée, il se trouverait après son cours dans une situation aussi précaire, sinon plus précaire que s’il n’eût jamais connu les premières lettres de l’alphabet.
  </p>
  <p>
    La première chose qu’il décida fut donc de discontinuer ses études collégiales. Mais ce n’était pas là le point le plus difficile ; il lui fallait de plus faire choix d’un état, démarche grave qu’un jeune homme ne peut faire qu’en tremblant, car de là dépend le bonheur ou le malheur de toute sa vie.
  </p>
  <p>
    Le suprême ordonnateur de toutes choses a reparti chez ses créatures une diversité de talents et d’aptitudes conformes aux besoins des sociétés. Mais des circonstances particulières, une famille nombreuse, une grande gêne pécuniaire, le défaut de protection, et mille autres raisons forcent, hélas ! trop souvent, de malheureux jeunes gens à embrasser une carrière où ils ne rencontrent que misère et dégoût. Trop souvent aussi, résistant à l’instinct qui les pousse vers un genre de vie plutôt que vers un autre, ils se laissent guider dans leur choix par des considérations de convenance, ou qui pis est, par une absurde et pernicieuse vanité.
  </p>
  <p>
    Rarement le sage conseil du poète :
  </p>
  <blockquote class="paragraph">
    Soyez plutôt maçon, si c’est votre talent,
  </blockquote>
  <p>
    est écouté dans cette importante conjoncture.
  </p>
  <p>
    Il existe aussi malheureusement chez nos populations rurales un préjugé funeste qui leur fait croire que les connaissances et l’éducation ne sont nullement nécessaires à celui qui cultive le sol : à quoi sert d’être savant, dira-t-on, pour manier le <em>manchon</em> de la charrue ? Et rien n’est plus étrange aux yeux de certaines gens que de voir un jeune homme instruit ne pas faire choix d’une profession libérale.
  </p>
  <p>
    Aussi les professions d’avocat, de notaire, de médecin, refuges obligés de tous les collégiens qui n’embrassent pas le sacerdoce, sont déjà tellement encombrées dans notre jeune pays qu’une grande partie de leurs membres ne peuvent y trouver le pain nécessaire à la vie matérielle. La carrière des emplois publics est pareillement encombrée ; d’ailleurs, sans le secours de protecteurs puissants, un jeune homme ne peut rien attendre de ce côté. Le peu de considération accordée à la noble profession d’instituteur l’a fait regarder jusqu’à ce jour comme un pis-aller. L’arpentage, le génie civil, l’architecture ne sont une ressource que pour un très-petit nombre d’individus. L’armée et la marine sont à-peu-près fermées à notre jeunesse.
  </p>
  <p>
    Le pauvre Jean Rivard, obsédé de tous côtés par les donneurs d’avis, ne songea pas d’abord à braver le préjugé régnant, et quoiqu’il ne se sentît de vocation pour aucune des professions dont nous venons de parler, il songea à se faire admettre à l’étude du droit. La loi l’astreignait à cinq années de cléricature, mais il se flattait qu’après une première année passée chez son patron, il recevrait pour son travail une rémunération suffisante à ses dépenses d’entretien. Ce qui lui faisait aussi caresser ce projet, c’était la perspective de se retrouver avec son ami Gustave Charmenil, alors étudiant en droit à Montréal, ami intime, camarade d’enfance, compagnon de collége, dont le souvenir était encore tout chaud dans sa mémoire.
  </p>
  <p>
    Cependant Jean Rivard ne voulut en venir à aucune détermination arrêtée avant d’avoir consulté le plus ancien ami de son père, M. l’abbé Leblanc, curé de Grandpré ; car, dans nos paroisses canadiennes, le curé est presque toujours regardé comme le conseiller indispensable, le juge en dernier ressort, dans toutes les importantes affaires de famille.
  </p>
  <p>
    Jean Rivard n’eut rien à apprendre à monsieur le curé qui avait déjà tout appris par la rumeur publique.
  </p>
  <p>
    —« Je m’attendais à votre visite, mon jeune ami, lui dit le vénérable prêtre, et je suis heureux de vous voir. J’ai pensé tous les jours à vous depuis un mois ; j’ai partagé vos inquiétudes, vos embarras, et puisque vous venez, suivant votre coutume, me demander mon avis, je vous dirai franchement et sans détour, que nous n’en sommes pas venus tous deux à la même conclusion. Votre projet d’étudier le droit ne me sourit pas, je vous l’avoue. Vous savez que j’ai moi-même étudié cette profession avant d’entrer dans les ordres ; je puis par conséquent vous parler en homme qui possède une certaine connaissance de son sujet. » Il se fit un moment de silence.
  </p>
  <p>
    « Je ne vous cacherai pas, continua le curé, que cette carrière me souriait comme à vous, lorsque, il y a bientôt trente ans, je quittai le collége ; elle sourit à presque tous les jeunes gens qui ont de l’ambition et qui se croient destinés à jouer un rôle dans les affaires de leur pays. Rien n’éblouit comme l’art de la parole, et c’est le plus souvent parmi les avocats qu’on rencontre les hommes qui exercent ce talent avec le plus de puissance.
  </p>
  <p>
    « Il faut avouer que cette profession offre des avantages réels. L’étude de la loi exerce le jugement ; l’habitude du raisonnement et de la discussion, donne par degré à l’homme doué de talents naturels une grande vigueur d’esprit, et une subtilité d’argumentation qui le font sortir vainqueur de presque toutes les luttes qui requièrent l’exercice des facultés intellectuelles.
  </p>
  <p>
    « Dans l’étude de ses moyens, voyez-vous, l’avocat est sans cesse excité par deux des plus puissants mobiles du cœur humain, l’orgueil et l’amour du gain : sa raison, toujours tendue pour ainsi dire, prend graduellement de la force, comme le bras du forgeron qui se durcit chaque jour par le travail ; et après un certain nombre d’années, surtout s’il a fait fortune et s’il jouit d’une forte santé, il peut déployer ses talents sur un plus grand théâtre. Partout les hommes d’état se recrutent, à quelques exceptions près, dans cette classe privilégiée.
  </p>
  <p>
    « Vous voyez que je ne cherche pas à nier les avantages de la profession. Disons pourtant, puisque nous en sommes à considérer le pour et le contre, qu’on reproche aux avocats, devenus hommes publics, de rapetisser les grandes questions de politique, de les envisager d’un point de vue étroit, surtout de faire emploi de petits moyens, de ces raisons futiles connues sous le terme d’objections à la forme et qui dénotent chez leurs auteurs plus de subtilité d’esprit que de libéralité et de largeur de vues. Ces messieurs ont bien quelquefois leurs petits ridicules. Vous vous rappelez ce passage de Timon :
  </p>
  <blockquote class="paragraph">
    Les avocats parlent pour qui on veut, tant qu’on veut, sur ce qu’on veut, etc., etc.
  </blockquote>
  <p>
    et vous avez lu sans doute son chapitre sur l’éloquence du barreau. »
  </p>
  <p>
    —« Je vous avouerai, M. le Curé, dit Jean Rivard, que l’amour des honneurs n’est pour rien dans le choix que j’ai voulu faire ; je n’ai pas la prétention de faire un orateur ni un homme politique. Mon but, hélas ! est peut-être moins élevé, moins noble ; j’ai cru voir dans cette carrière un acheminement à la fortune, et un moyen d’aider à l’établissement de mes jeunes frères. »
  </p>
  <p>
    —« Venez-en donc à cette question, puisqu’elle est la plus intéressante pour vous. Vous avouez qu’en vous lançant dans cette carrière vous avez, comme tous vos confrères, l’espoir d’y faire fortune ; vous pourriez être un de ces rares privilégiés, bien que vous admettiez vous-même que vous ne possédez pas cette assurance, ni cette facilité d’expression qui font les avocats éminents. Mais il est un moyen assez simple de vous éclairer sur ce sujet. Prenez la liste des avocats admis depuis vingt ans aux divers barreaux de la province, et voyez dans quelle proportion se trouvent ceux qui vivent exclusivement de l’exercice de leur profession. Je ne pense pas me tromper en disant que c’est à peine si vous en trouvez un quart. Les trois autres quarts, après avoir attendu pendant plusieurs années une clientelle toujours à venir, se retirent découragés. Les uns se jetteront dans le journalisme, d’autres dans le commerce ou dans des spéculations plus ou moins licites ; celui-ci cherchera un emploi dans les bureaux publics, celui-là ira cacher son désappointement dans un pays étranger ; un grand nombre resteront à charge à leurs parents ou à leurs amis ; les autres, abreuvés de dégoûts et d’ennuis, se laisseront aller à la dissipation, à la débauche, et finiront misérablement. Car sachez bien, mon ami, que les avocats de premier ordre, c’est-à-dire, les avocats de talents transcendants, sont presque seuls à recueillir les avantages attachés à la profession. César préférait être le premier dans une bicoque que le second dans Rome ; pour ma part, je crois que sans avoir l’ambition de César, on peut être justifiable de préférer occuper le premier rang dans un état quelconque que le second dans la profession d’avocat.
  </p>
  <p>
    « Une autre importante considération, mon enfant, c’est qu’il n’est guère possible à un jeune homme sans moyens pécuniaires, de faire une étude suffisante de la profession, ni de se créer ensuite une clientelle s’il n’a pas de protecteurs ou d’amis influents.
  </p>
  <p>
    —Mais ne croyez-vous pas qu’après une première année passée dans un bureau d’avocat, je serais en état de subvenir à mes dépenses ?
  </p>
  <p>
    —J’admets que la chose est possible, mais il y a dix chances contre une que votre espoir sera déçu. Peut-être après de longues et ennuyeuses démarches, trouverez-vous à enseigner le français dans une famille, à tenir les livres d’un marchand ou à faire quelque autre travail analogue ; mais cet avantage même, qui ne se rencontre que rarement, sera cause que vous négligerez vos études professionnelles. Vous savez le proverbe : on ne peut courir deux lièvres à la fois. J’ai connu des jeunes gens d’une grande activité d’esprit, pleins d’ardeur pour l’étude, qui se seraient probablement distingués au barreau, s’ils avaient pu faire une cléricature régulière, mais qui, obligés pour vivre, de se faire copistes, instituteurs, traducteurs, ou d’écrire pour les gazettes, ne purent acquérir une connaissance suffisante de la procédure et de la pratique, et durent se résigner bon gré mal gré à tenter fortune ailleurs. Car, sachez-le bien, mon ami, aucun état ne demande un apprentissage plus sérieux, plus consciencieux.
  </p>
  <p>
    « Or, la somme nécessaire à la pension et à l’entretien d’un étudiant pendant quatre ou cinq années de cléricature, celle encore plus considérable qu’il doit consacrer à l’acquisition de livres, à l’ameublement de son bureau, et à attendre patiemment la clientelle tant désirée, tout cela réuni forme un petit capital qui, appliqué à quelque utile industrie, peut assurer l’avenir d’un jeune homme. »
  </p>
  <p>
    Le pauvre Jean Rivard, qui songeait à ses cinquante louis, se sentit intérieurement ébranlé et fut sur le point de déclarer aussitôt qu’il renonçait à son projet ; mais monsieur le curé continua :
  </p>
  <p>
    —« Puis, mon ami, comptez-vous pour rien tous les tourments d’esprit inséparables de cette existence précaire ? Comptez-vous pour rien la privation des plaisirs du cœur, des jouissances de la vie de famille pendant les plus belles années de votre séjour sur la terre ? Car, même en supposant que vous seriez un des privilégiés de votre ordre, vous vous rendrez à trente ans et peut-être plus loin, avant de pouvoir vous marier. La vanité, les exigences sociales sont pour beaucoup, il est vrai, dans cette fatale et malheureuse nécessité, mais le fait existe, et vous ne serez probablement pas homme à rompre en visière aux habitudes de votre classe. »
  </p>
  <p>
    Cette dernière considération était de nature à faire une forte impression sur Jean Rivard, comme on le comprendra plus tard.
  </p>
  <p>
    —« Il y a enfin, mon cher enfant, ajouta le bon prêtre, une autre considération dont on ne s’occupe guère à votre âge, mais qui me paraît à moi plus importante que toutes les autres ; c’est que la vie des villes expose à toutes sortes de dangers. Sur le grand nombre de jeunes gens qui vont y étudier des professions, ou y apprendre le commerce, bien peu, hélas ! savent se préserver de la contagion du vice. Ils se laissent entraîner au torrent du mauvais exemple. Puis, dans les grandes villes, voyez-vous, les hommes sont séparés pour ainsi dire de la nature ; l’habitude de vivre au milieu de leurs propres ouvrages les éloigne de la pensée de Dieu. S’ils pouvaient comme nous admirer chaque jour les magnificences de la création, ils s’élèveraient malgré eux jusqu’à l’auteur de toutes choses, et la cupidité, la vanité, l’ambition, les vices qui les tourmentent sans cesse n’auraient plus autant de prise sur leurs cœurs.......................
  </p>
  <p>
    Le bon prêtre allait continuer ses réflexions, lorsque Jean Rivard se levant :
  </p>
  <p>
    —« Monsieur le curé, dit-il, vos réflexions sont certainement bien propres à me convaincre que je me suis laissé entraîner dans une fausse voie. Veuillez en accuser mon peu d’expérience, et croyez que je suis prêt à abandonner sans hésitation, sans arrière-pensée, un projet pour lequel je ne sens d’ailleurs aucun enthousiasme. Mais, en renonçant à ce dessein, je retombe dans les soucis, dans les embarras qui m’ont tourmenté depuis la mort de mon père. C’est une terrible chose, M. le curé, pour un jeune homme sans fortune et sans expérience, que d’avoir à se décider sur le choix d’un état. »
  </p>
  <p>
    —« Personne, mon enfant, ne comprend cela mieux que moi, et je vous dirai que le grand nombre de jeunes gens qui sortent chaque année de nos colléges m’inspirent la plus profonde compassion. Au point où nous en sommes rendus, si par un moyen ou par un autre on n’ouvre avant peu à notre jeunesse de nouvelles carrières, les professions libérales vont s’encombrer d’une manière alarmante, le nombre de têtes inoccupées ira chaque jour grossissant et finira par produire quelque explosion fatale.
  </p>
  <p>
    « Si vous me demandez d’indiquer un remède à cet état de choses, je serai bien obligé de confesser mon impuissance. Néanmoins, après y avoir mûrement réfléchi, et avoir fait de cette question l’objet de mes méditations pendant de longues années, j’en suis venu à la conclusion que le moyen le plus naturel et le plus efficace, sinon d’arrêter tout-à-fait le mal, au moins de le neutraliser jusqu’à un certain point, c’est d’encourager de toutes manières et par tous moyens la jeunesse instruite de nos campagnes à embrasser la carrière agricole.
  </p>
  <p>
    « C’est là, suivant moi, le moyen le plus sûr d’accroître la prospérité générale tout en assurant le bien-être des individus, et d’appeler sur la classe la plus nombreuse de notre population la haute considération dont elle devrait jouir dans tous les pays. Je n’ai pas besoin de vous répéter tout ce qu’on dit sur la noblesse et l’utilité de cette profession. Mais consultez un moment les savants qui se sont occupés de rechercher les causes de la prospérité des nations, et vous verrez que tous s’accordent à dire que l’agriculture est la première source d’une richesse durable ; qu’elle offre plus d’avantages que tous les autres emplois ; qu’elle favorise le développement de l’intelligence plus que toute autre industrie ; que c’est elle qui donne naissance aux manufactures de toutes sortes ; enfin qu’elle est la mère de la prospérité nationale, et pour les particuliers la seule occupation réellement indépendante. L’agriculteur qui vit de son travail peut dire avec raison qu’« il ne connaît que Dieu pour maître. » Ah ! s’il m’était donné de pouvoir me faire entendre de ces centaines de jeunes gens qui chaque année quittent nos campagnes pour se lancer dans les carrières professionnelles, commerciales, ou industrielles, ou pour aller chercher fortune à l’étranger, je leur dirais : ô jeunes gens, mes amis, pourquoi désertez-vous ? pourquoi quitter nos belles campagnes, nos superbes forêts, notre belle patrie pour aller chercher ailleurs une fortune que vous n’y trouverez pas ? Le commerce, l’industrie vous offrent, dites-vous, des gages plus élevés, mais est-il rien d’aussi solide que la richesse agricole ? Un cultivateur intelligent voit chaque jour augmenter sa richesse, sans craindre de la voir s’écrouler subitement ; il ne vit pas en proie aux soucis dévorants ; sa vie paisible, simple, frugale, lui procure une heureuse vieillesse.
  </p>
  <p>
    «Vous ne doutez pas, mon jeune ami, de l’intérêt que je vous porte. Eh bien ! je suis tellement persuadé que cette carrière, tout humble qu’elle puisse paraître à vos yeux, est préférable aux professions libérales, au moins pour la plupart des jeunes gens, que je n’hésite pas un instant à vous recommander de l’embrasser, malgré toutes les objections que l’on pourra vous faire. Pour avoir étudié pendant quelques années, ne vous en croyez pas moins apte à la culture de la terre. Au contraire, mon ami, l’étude a développé vos facultés naturelles, vous avez appris à penser, à méditer, à calculer, et nul état ne demande plus d’intelligence que celui de l’agriculteur. Si cet art n’a pas fait de plus rapides progrès parmi nous, il faut en accuser en grande partie la malheureuse répugnance qu’ont montrée jusqu’aujourd’hui nos hommes instruits à se dévouer à cette honorable industrie. Bravez, le premier, mon jeune ami, ce préjugé funeste, d’autres vous imiteront bientôt et en peu d’années l’agriculture sera régénérée. »
  </p>
  <p>
    Chacune de ces paroles allait au cœur de Jean Rivard. C’était bien là son rêve de tous les jours, son idée favorite. Mais chaque fois qu’il en avait parlé dans sa famille, son projet avait excité de telles clameurs qu’il n’osait plus revenir sur ce sujet. D’ailleurs une difficulté existait à laquelle ne songeait pas le bon curé : comment, avec la petite somme de cinquante louis, songer à devenir propriétaire à Grandpré, lorsqu’une ferme de dimension ordinaire n’y pouvait coûter moins de douze à quinze mille francs, sans compter la somme nécessaire à l’acquisition du matériel agricole et des animaux indispensables à l’exploitation ?
  </p>
  <p>
    Jean Rivard passa donc encore plusieurs mois à considérer sa situation, à faire des projets de toutes sortes, à chercher tous les moyens imaginables de sortir d’embarras. Parfois le découragement s’emparait de son âme et l’avenir s’offrait à ses regards sous les couleurs les plus sombres. Eh quoi ! se disait-il, serai-je condamné à travailler comme journalier, comme homme de peine, dans les lieux mêmes où mon père cultivait pour son propre compte ? La pensée d’émigrer, de s’expatrier, lui venait bien quelquefois, mais il la repoussait aussitôt comme anti-patriotique, anti-nationale.
  </p>
  <p>
    Une raison secrète qu’on connaîtra bientôt rendait encore plus vif son désir de s’établir le plus promptement possible.
  </p>
</section>

<section class="chapter section">
  <h3>III. NOBLE RÉSOLUTION DE JEAN RIVARD</h3>
  <p>
    Les soucis qui tourmentaient notre jeune homme surexcitèrent à tel point son système nerveux qu’il lui arriva plus d’une fois de passer la nuit sans fermer l’œil. Il se levait, se promenait de long en large dans sa chambre, puis se couchait de nouveau, demandant en vain au sommeil quelques moments de repos. Enfin il arriva qu’une nuit, après plusieurs heures d’une insomnie fiévreuse, il s’endormit profondément, et eut un songe assez étrange. Il se crut transporté au milieu d’une immense forêt. Tout-à-coup des hommes apparurent armés de haches, et les arbres tombèrent çà et là sous les coups de la cognée. Bientôt ces arbres furent remplacés par des moissons luxuriantes ; puis des vergers, des jardins, des fleurs surgirent comme par enchantement. Le soleil brillait dans tout son éclat ; il se crut au milieu du paradis terrestre. En même temps il lui sembla entendre une voix lui dire : il ne dépend que de toi d’être un jour l’heureux et paisible possesseur de ce domaine.
  </p>
  <p>
    Bien que Jean Rivard fût loin d’être superstitieux, ce songe fit cependant sur lui une impression extraordinaire. En s’éveillant, une pensée qu’il regarda comme une inspiration du ciel lui traversa le cerveau, et dès que le jour parut, se levant plus tôt que d’habitude, il annonça à sa mère qu’il allait partir pour un voyage de quelques jours.
  </p>
  <p>
    Or, voici le projet que Jean Rivard avait en tête. Il savait qu’en arrière des paroisses qui bordent le beau et grand fleuve Saint-Laurent s’étendaient d’immenses forêts qui ne demandaient qu’à être défrichées pour produire d’abondantes récoltes. Là, pour une modique somme, un jeune homme pouvait facilement devenir grand propriétaire. Il est bien vrai que les travaux de déboisement n’étaient pas peu de chose et devaient entrer en ligne de compte, mais ces travaux ne demandaient que du courage, de l’énergie, de la persévérance, et n’effrayaient nullement notre héros.
  </p>
  <p>
    Jean Rivard avait donc résolu de s’établir intrépidement sur une terre en bois debout, de la défricher, de l’exploiter, et il voulait à cette fin faire une visite d’exploration.
  </p>
  <p>
    La partie du Bas-Canada qu’on appelle les Cantons de l’Est et qui s’étend au sud du fleuve Saint-Laurent, depuis la rivière Chaudière jusqu’à la rivière Richelieu, comprenant plus de quatre millions d’acres de terre fertile, est excessivement intéressante, non seulement pour l’économiste, mais aussi pour l’artiste, le poète et le voyageur. Partout la nature s’y montre, sinon aussi sublime, aussi grandiose, du moins presque aussi pittoresque que dans le bas du fleuve et les environs de Québec. Montagnes, collines, vallées, lacs, rivières, tout y semble fait pour charmer les regards. Le touriste qui a parcouru les bords de la rivière Saint-François ne saurait oublier les paysages enchanteurs qui s’offrent de tous côtés. Les rivières Chaudière, Nicolet, Bécancour, avec leurs chaînes de lacs, leurs cascades, leurs rives escarpées ; les lacs Memphremagog, Saint-François, Mégantic, Aylmer, avec leurs îlots verdoyants, présentent à l’œil le même genre de beautés ravissantes. Ajoutons à cela que le sol y est partout d’une fertilité remarquable, que le ciel y est clair et le climat salubre, que toutes les choses nécessaires à la nourriture de l’homme, poisson, gibier, fruits, s’y trouvent en abondance, et l’on s’étonnera sans doute que cette partie du Canada n’ait pas été peuplée plus tôt.
  </p>
  <p>
    Ce n’est que vers la fin du dernier siècle que trente familles américaines traversèrent la frontière pour venir s’établir dans le canton de Stanstead et les environs.
  </p>
  <p>
    Diverses causes retardèrent la colonisation de cette partie du pays. On sait que d’immenses étendues de forêts devinrent de bonne heure la proie d’avides spéculateurs qui pendant longtemps refusèrent de les concéder. Ce n’est que depuis peu d’années que l’adoption de mesures législatives, et la construction de chemins de fer et autres voies de communication dirigèrent l’émigration canadienne vers ces fertiles régions.
  </p>
  <p>
    C’est là que Jean Rivard avait résolu de se fixer.
  </p>
  <p>
    Ce fut une scène touchante dans la famille Rivard. La mère surtout, la pauvre mère déjà habituée à regarder son Jean comme le chef de la maison, ne pouvait se faire à l’idée de se séparer de lui. Elle l’embrassait en pleurant, puis s’occupait à préparer ses effets de voyage et revenait l’embrasser de nouveau. Il lui semblait que son enfant s’en allait au bout du monde et son cœur maternel s’exagérait les dangers qu’il allait courir.
  </p>
  <p>
    Jean Rivard comprit que c’était l’occasion pour lui de se montrer ferme, et refoulant au fond du cœur les émotions qui l’agitaient :
  </p>
  <p>
    —« Ma bonne mère, dit-il, vous savez que personne ne vous aime plus tendrement que moi ; vous n’ignorez pas que mon plus grand bonheur serait de passer ma vie auprès de vous, et au milieu de mes frères et sœurs. Les plaisirs du coeur, sont si doux...... et je pourrais les goûter dans toute leur plénitude. Mais ce bonheur ne m’est pas réservé. Je ne veux pas revenir sur les considérations qui m’ont fait prendre le parti de m’éloigner, vous les connaissez, ma mère, et je suis convaincu que vous m’approuverez vous-même un jour. Ce qui m’encourage dans ce dessein, c’est l’espoir de me rendre utile à moi-même, à mes jeunes frères, et peut-être à mon pays. Si je partais pour une expédition lointaine, pour une terre étrangère, sans but arrêté, comme ont fait et comme font malheureusement encore un grand nombre de nos jeunes compatriotes, je concevrais vos inquiétudes. Mais non, Dieu merci, cette mauvaise pensée n’a jamais eu de prise sur moi ; je demeure dans le pays qui m’a vu naître, je veux contribuer à exploiter les ressources naturelles dont la nature l’a si abondamment pourvu ; je veux tirer du sol les trésors qu’il recèle, et qui, sans des bras forts et vigoureux, y resteront enfouis longtemps encore. Devons-nous attendre que les habitants d’une autre hémisphère viennent, sous nos yeux, s’emparer de nos forêts, qu’ils viennent choisir parmi les immenses étendues de terre qui restent encore à défricher les régions les plus fertiles, les plus riches, puis nous contenter ensuite de leurs rebuts ? Devons-nous attendre que ces étrangers nous engagent à leur service ? Ah ! à cette pensée, ma mère, je sens mes muscles se roidir et tout mon sang circuler avec force. Je possède de bons bras, je me sens de l’intelligence, je veux travailler, je veux faire servir à quelque chose les facultés que Dieu m’a données ; et si le succès ne couronne pas mes efforts, je me rendrai au moins le bon témoignage d’avoir fait mon devoir. »
  </p>
  <p>
    La pauvre mère, en entendant ces nobles sentiments sortir de la bouche de son fils, dut se résigner et se contenter de pleurer en silence.
  </p>
</section>

<section class="chapter section">
  <h3>IV. JEAN RIVARD, PROPRIÉTAIRE</h3>
  <p>
    Jean Rivard partit de Grandpré, traversa le Saint-Laurent en canot et s’aventura ensuite dans les terres.
  </p>
  <p>
    Le lendemain de son départ, il s’arrêta dans un village dont les maisons presque toutes nouvellement construites et blanchies à la chaux offraient un certain air d’aisance et de gaieté, et au centre duquel s’élevait une petite église surmontée d’un clocher.
  </p>
  <p>
    Heureusement pour Jean Rivard, ce village était presque entièrement peuplé de Canadiens. Il alla frapper à la porte de la maison de M. Lacasse, magistrat de l’endroit, qu’il connaissait déjà de réputation.
  </p>
  <p>
    M. Lacasse était en même temps cultivateur et commerçant. Il n’avait reçu que peu d’instruction dans sa jeunesse, mais il possédait un grand fond de bon sens et des sentiments honorables qui le faisaient estimer de tous ceux qui l’approchaient.
  </p>
  <p>
    Jean Rivard prit la liberté de se présenter à lui, et après lui avoir décliné son nom, lui fit part en quelques mots du but de son voyage. M. Lacasse l’écouta attentivement, tout en le considérant avec des yeux scrutateurs, puis s’adressant à lui :
  </p>
  <p>
    —« Jeune homme, dit-il, avant de vous dire ce que je pense de votre démarche, permettez-moi de vous faire deux ou trois questions : quel âge avez-vous ?
  </p>
  <p>
    —J’ai dix-neuf ans.
  </p>
  <p>
    —Vous ne me paraissez guère habitué au travail ; avez-vous bonne santé? êtes-vous fort et vigoureux ?
  </p>
  <p>
    —Je jouis d’une excellente santé, et si je ne suis pas encore habitué au travail, j’espère le devenir un jour.
  </p>
  <p>
    —C’est bien ; mais encore une question, s’il vous plaît : êtes-vous persévérant ? s’il vous survenait des obstacles, des revers, des accidents, seriez-vous homme à vous décourager ? Cette question est de la plus grande importance.
  </p>
  <p>
    —Monsieur, depuis le jour où j’ai quitté le collége, j’ai toujours eu présente à l’esprit une maxime que nous répétait souvent notre excellent directeur : avec le travail on vient à bout de tout, ou comme il nous disait en latin : <em>labor omnia vincit</em>. J’ai pris ces trois mots pour devise, car je comprends que le sens qu’ils présentent doit être d’une application plus fréquente dans la vie du défricheur que dans aucun autre état.
  </p>
  <p>
    —C’est bien, c’est bien, mon jeune ami ; je ne suis pas fort sur le latin, mais je vois avec plaisir que vous connaissez le rôle que vous aurez à jouer. Vous parlez comme un brave, et je suis heureux d’avoir fait votre connaissance. Maintenant, mon ami, la première chose que vous avez à faire, c’est de choisir un bon lopin de terre, un lot dont la situation et la fertilité vous promettent une ample rémunération de vos labeurs ; car il n’est pas de spectacle plus désolant que celui d’un homme intelligent et courageux qui épuise sa vigueur sur un sol ingrat. »
  </p>
  <p>
    M. Lacasse fit alors connaître en peu de mots à Jean Rivard, d’après l’expérience qu’il avait acquise durant sa longue carrière de défricheur, à quels signes on pouvait juger de la bonne ou mauvaise qualité du sol.
  </p>
  <p>
    —« Monsieur, dit Jean Rivard, je vous remercie mille fois de vos renseignements précieux, que je ne manquerai pas de mettre à profit. Mais, dites-moi, je vous prie, puis-je en toute confiance choisir dans les milliers d’arpents non encore défrichés de ces vastes Cantons de l’Est, le lot qui me conviendra, sauf à en payer plus tard le prix au propriétaire, quand il me sera connu ?
  </p>
  <p>
    —Oh ! gardez-vous en bien. Si je vous racontais tous les malheurs qui sont résultés des imprudences de ce genre, et dont nos pauvres compatriotes ont été les victimes, surtout depuis un certain nombre d’années, vous en frémiriez. Les grands propriétaires de ces terres incultes ne sont pas connus aujourd’hui, mais ils se cachent comme le loup qui guette sa proie ; et lorsque, après plusieurs années de travail, un défricheur industrieux aura doublé la valeur de leur propriété, ils se montreront tout-à-coup pour l’en faire déguerpir. Suivez mon conseil, mon jeune ami ; vous avez près d’ici le Canton de Bristol presque entièrement inhabité, et possédé en grande partie par le gouvernement et l’Hon. Robert Smith qui réside dans ce village même ; allez, et si, après avoir parcouru la forêt, vous trouvez un lot qui vous convienne, je me charge de vous le faire obtenir. Mais comme il n’y a encore qu’une espèce de sentier qui traverse le Canton, je vais vous faire accompagner par un homme que j’ai à mon service, qui connait parfaitement toute cette forêt et qui pourra même au besoin vous donner d’excellents avis.
  </p>
  <p>
    —Monsieur, je ne saurais vous exprimer combien je vous suis reconnaissant de tant de bontés......
  </p>
  <p>
    —Chut ! mon ami, ne parlez pas de reconnaissance. Si vous réussissez comme vous le méritez, je serai suffisamment récompensé. On ne trouve pas tous les jours à obliger des jeunes gens de cœur. »</p>
  <p>
    Jean Rivard et l’homme de M. Lacasse partirent donc ensemble pour parcourir en tous sens le Canton de Bristol, après avoir eu le soin de se munir d’une petite boussole.
  </p>
  <p>
    Ils ne revinrent que le lendemain soir.
  </p>
  <p>
    Sans entrer dans tous les détails de l’itinéraire de nos explorateurs, disons tout de suite que Jean Rivard avait fait choix, à trois lieues environ du village de Lacasseville, (appelé ainsi du nom de son fondateur M. Lacasse,) d’un superbe lopin de terre, tout couvert de beaux et grands arbres, et dont le sol était d’une richesse incontestable. Une petite rivière le traversait. D’après la description qu’il en fit à M. Lacasse, celui-ci jugea que son protégé ne s’était pas trompé, et tous deux se rendirent aussitôt chez l’Hon. Robert Smith, lequel, tout en manifestant d’abord une sorte de répugnance à se dessaisir d’une partie de son domaine inculte, finit par concéder à Jean Rivard cent acres de terre à cinq chelins l’acre, payables en quatre versements égaux, dont le premier ne devenait dû qu’au bout de deux années,—à condition toutefois que Jean Rivard s’établirait sur le lot en question et en commencerait sans délai le défrichement.
  </p>
  <p>
    Le marché conclu et signé, Jean Rivard remercia de nouveau son ami et bienfaiteur M. Lacasse, et après lui avoir serré la main, partit en toute hâte pour retourner auprès de sa mère, à Grandpré.
  </p>
</section>
