<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <title>Antoine Gérin-Lajoie - Jean Rivard. Scènes de la vie réelle</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href='//fonts.googleapis.com/css?family=PT+Serif|Source+Code+Pro|Open+Sans:400,700' rel='stylesheet'>
  <%= stylesheet_link_tag :application %>
  <%= inline_script_tag :head_script %>
</head>
<body class="theme-5">
  <header>
    <div class="advanced-menu">
      <ul class="left">
        <li><a class="library" href="javascript:"><span>Bibliothèque</span></a></li>
        <li><a class="book" href="javascript:" data-hook="toggle-summary"><span data-icon="b" class="icon-books"></span></a></li>
      </ul>
      <h1 title="Gabrielle Roy - Un jardin au bout du monde">
        <div class="wrap">
          <span class="book-title">
            <span class="author">Antoine Gérin-Lajoie</span>
            <span class="title">Jean Rivard. Scènes de la vie réelle</span>
          </span>
        </div>
      </h1>
      <ul class="right">
        <li class="readability-settings-container">
          <a href="javascript:ReadabilitySettings.toggleSubmenu()" class="font-sizes-wrap">
            <span class="icon-fonts">
              <span data-icon="a" class="icon-small-font"></span>
              <span data-icon="a" class="icon-big-font"></span>
            </span>
          </a>
        </li>
        <li class="last">
          <a class="close-advanced-menus blue-button" href="javascript:App.hideAdvancedMenus()">
            <span data-icon="x" class="icon-close"></span>
          </a>
        </li>
      </ul>
    </div>
    <a class="button-advanced-menus" href="javascript:App.showAdvancedMenus()"><span data-icon="…" class="icon-more icon-b"></span></a>
  </header>

  <div class="submenu readability-settings">
    <div class="columns">
      <div class="column column-1">
        <section>
          <span class="submenu-title">Taille de la police</span>
          <div class="columns">
            <div class="column column-3"><a href="javascript:ReadabilitySettings.smallerFontSize()" class="simple-button"><span data-icon="a" class="icon-small-font"></span></a></div>
            <div class="column column-3"><a href="javascript:ReadabilitySettings.normalFontSize()" class="simple-button"><span>Normal</span></a></div>
            <div class="column column-3"><a href="javascript:ReadabilitySettings.largerFontSize()" class="simple-button"><span data-icon="a" class="icon-big-font"></span></a></div>
          </div>
        </section>
        <section>
          <span class="submenu-title">Taille de l’interlignage</span>
          <div class="columns">
            <div class="column column-3"><a href="javascript:ReadabilitySettings.smallerLineHeight()" class="simple-button"><span data-icon="-"></span></a></div>
            <div class="column column-3"><a href="javascript:ReadabilitySettings.normalLineHeight()" class="simple-button"><span>Normal</span></a></div>
            <div class="column column-3"><a href="javascript:ReadabilitySettings.largerLineHeight()" class="simple-button"><span data-icon="+"></span></a></div>
          </div>
        </section>
        <section>
          <span class="submenu-title">Alignement</span>
          <div class="columns alignments">
            <div class="column column-3"><a href="javascript:ReadabilitySettings.leftAlignment()" class="simple-button alignment-left"><span data-icon="l"></span></a></div>
            <div class="column column-3"><a href="javascript:ReadabilitySettings.justifyAlignment()" class="simple-button alignment-justify"><span data-icon="j"></span></a></div>
          </div>
        </section>
        <section class="contrast">
          <span class="submenu-title">Contraste texte/fond</span>
          <div class="columns">
            <span class="icon-moon contrast-icon" data-icon="m"></span>
            <div class="slider-container column">
              <div>
                <span class="slider"></span>
                <div class="contrast-colors">
                  <span style="background-color: #1590b0;"></span>
                  <span style="background-color: #17a0c3;"></span>
                  <span style="background-color: #19afd5;"></span>
                  <span style="background-color: #1cc0e9;"></span>
                  <span style="background-color: #1ecffc;"></span>
                </div>
              </div>
            </div>
            <span class="icon-sun contrast-icon" data-icon="s"></span>
          </div>
        </section>
      </div>
      <div class="column column-1">
        <section>
          <span class="submenu-title">Police</span>
          <div class="buttons-group fonts">
            <select name="fonts">
              <option value="helvetica">Helvetica</option>
              <option value="times">Times</option>
              <option value="source-code">Source Code</option>
              <option value="pt-serif">PT Serif</option>
              <option value="open-sans">Open Sans</option>
            </select>
            <div>
              <a href="javascript:ReadabilitySettings.fontFamily('helvetica')" class="simple-button font-helvetica"><span>Helvetica</span></a>
              <a href="javascript:ReadabilitySettings.fontFamily('times')" class="simple-button font-times"><span>Times</span></a>
              <a href="javascript:ReadabilitySettings.fontFamily('source-code')" class="simple-button font-source-code"><span>Source Code</span></a>
              <a href="javascript:ReadabilitySettings.fontFamily('pt-serif')" class="simple-button font-pt-serif"><span>PT Serif</span></a>
              <a href="javascript:ReadabilitySettings.fontFamily('open-sans')" class="simple-button font-open-sans"><span>Open Sans</span></a>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <section role="main" class="font-times">
    <div class="wrap">
      <%= yield %>
    </div>
  </section>

  <div class="veil"></div>

  <footer>
    <div class="wrap">
      <div class="advanced-menu">
        <div class="timeline">
          <span class="line"></span>
        </div>
        <div class="anchors">
          <div class="button"><span data-hook="section-name">Chapitre</span> <span data-hook="current-chapter">1</span> | §<span data-hook="current-paragraph">1</span>/<span data-hook="paragraph-count">1</span></div>
          <div class="popup popup-with-tip">
            <div class="columns">
              <div class="column column-1">
                <span>Paragraphe</span>
                <select name="paragraph"></select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js"></script>
  <%= javascript_include_tag :application %>
</body>
</html>
